.pai{
    display: flex;
    justify-content: space-between;
}

.quadrado{
    width: 300px;
    height: 3
    00px;
    background-color: red;
    margin: 25px;
}

.quadrado1{
    width: 300px;
    height: 300px;
    background-color: blue;
    margin: 25px;
}

.quadrado2{
    width: 300px;
    height: 300px;
    background-color: violet;
    margin: 25px;
}

.quadrado3{
    width: 300px;
    height: 300px;
    background-color: greenyellow;
    margin: 25px;
}